@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header{
    width: 100%;
    height: 3.5vw;
    background-color: rgba(255, 255, 255, 0.98);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px lightgray;
}

.header-container{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.4vw;
    font-weight: 700;
    color: blue;
    text-decoration: none;
}

nav{
    display: flex;
    gap: 2vw;
}

.link{
    text-decoration: none;
    color: black;
    font-size: 1vw;
    font-weight: 500;
}

.link:hover{
    color: blue;
}

.bars-icon{
    display: none;
}

.mobil-nav{
    display: none;
}

main{
    width: 100%;
    height: auto;
}

.hero-section{
    width: 100%;
    height: calc(100vh - 3.5vw);
    background-color: rgb(224, 239, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.hero-container h1{
    font-size: 2.7vw;
}

.hero-text{
    font-size: 1vw;
}

.button{
    text-decoration: none;
    background-color: rgba(0, 0, 255, 0.752);
    color: white;
    width: 9vw;
    height: 2.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vw;
    font-size: 1vw;
    font-weight: 600;
}

.button:hover{
    background-color: blue;
    box-shadow: 0 0 10px gray;
    transition: ease 300ms;
}


.about-section{
    scroll-margin-top: 3.5vw;
    width: 100%;
    background-color: rgba(246, 250, 255, 0.932);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vw 0;
}

.about-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.about-container h2{
    font-size: 1.8vw;
}

.about-boxes{
    display: flex;
    justify-content: space-between;
}

.about-left-box{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.left-box-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.left-box-1 h3{
    font-size: 1.1vw;
}

.left-box-1 p{
    font-size: 0.9vw;
}

.left-box-2{
    width: 100%;
    background-color: rgb(255, 203, 231);
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    padding: 1vw;
    border-radius: 0.3vw;
    border-left: 0.4vw solid rgb(218, 0, 116);
}

.left-box-2 h4{
    font-size: 1vw;
}

.left-box-2 a{
    font-size: 0.8vw;
    text-decoration: none;
    color: black;
}

.about-right-box{
    width: 42%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-box{
    background-color: white;
    width: 14vw;
    height: 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    border-radius: 0.5vw;
    box-shadow: 0 0 8px lightgray;
}

.right-box p{
    font-size: 2.2vw;
    font-weight: 800;
    color: blue;
}

.right-box span{
    font-size: 1vw;
}

.gallery-section{
    scroll-margin-top: 3.5vw;
    width: 100%;
    height: 100vh;
    background-color: rgba(246, 250, 255, 0.932);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vw 0;
}

.gallery-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.gallery-container h2{
    font-size: 1.8vw;
}

.gallery-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

.image{
    border-radius: 1vw;
}

.image-1{
    width: 60%;
    height: 36vh;
    object-fit: cover;
    object-position: center;
}

.image-2{
    width: 35%;
    height: 26vh;
    object-fit: cover;
    object-position: center;
}

.image-3{
    width: 27%;
    height: 28vh;
    object-fit: cover;
    object-position: center;
}

.contact-section{
    scroll-margin-top: 3.5vw;
    width: 100%;
    height: 100vh;
    background-color: rgba(246, 250, 255, 0.932);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vw 0;
}

.contact-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.contact-container h2{
    font-size: 1.8vw;
}

.contact-form{
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 2vw;
    border-radius: 0.5vw;
    box-shadow: 0 0 10px lightgray;
}

.contact-form label{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    font-size: 1vw;
    font-weight: 500;
}

.name-box,
.email-box{
    width: 100%;
    height: 2.5vw;
    font-size: 1vw;
    padding: 0.5vw;
    border-radius: 0.5vw;
    border: 1px solid lightgray;
}

.message-box{
    font-size: 1vw;
    padding: 0.5vw;
    border-radius: 0.5vw;
    border: 1px solid lightgray;
    resize: vertical;
}

.submit-btn{
    width: 100%;
    height: 2.5vw;
    background-color: rgba(0, 0, 255, 0.752);
    color: white;
    font-size: 1vw;
    font-weight: 600;
    border: none;
    border-radius: 0.5vw;
}

.submit-btn:hover{
    cursor: pointer;
    background-color: blue;
    box-shadow: 0 0 10px gray;
    transition: ease 300ms;
}

footer{
    width: 100%;
    height: 6vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container p{
    font-size: 1vw;
    color: gray;
}

@media (max-width: 990px) {
    header{
    height: 7vw;
}

.header-container{
    width: 80%;
}

.logo{
    font-size: 2.8vw;
}

nav{
    gap: 4vw;
}

.link{
    font-size: 2vw;
}

.hero-section{
    height: calc(100vh - 7vw);
}

.hero-container{
    width: 80%;
    gap: 2vw;
}

.hero-container h1{
    font-size: 5.4vw;
    text-align: center;
}

.hero-text{
    font-size: 2vw;
}

.button{
    width: 18vw;
    height: 5.6vw;
    border-radius: 1vw;
    font-size: 2vw;
}

.about-section{
    scroll-margin-top: 7vw;
    padding: 6vw 0;
}

.about-container{
    width: 80%;
    gap: 4vw;
}

.about-container h2{
    font-size: 3.6vw;
}

.about-left-box{
    width: 54%;
    gap: 2vw;
}

.left-box-1{
    gap: 1vw;
}

.left-box-1 h3{
    font-size: 2.1vw;
}

.left-box-1 p{
    font-size: 1.5vw;
}

.left-box-2{
    gap: 1vw;
    padding: 2vw;
    border-radius: 0.6vw;
    border-left: 0.6vw solid rgb(218, 0, 116);
}

.left-box-2 h4{
    font-size: 1.8vw;
}

.left-box-2 a{
    font-size: 1.4vw;
}

.about-right-box{
    width: 44%;
}

.right-box{
    width: 17vw;
    height: 15vw;
    gap: 1vw;
    border-radius: 1vw;
}

.right-box p{
    height: 5vw;
    font-size: 4.4vw;
}

.right-box span{
    height: 5vw;
    font-size: 2vw;
    text-align: center;
}

.gallery-section{
    scroll-margin-top: 7vw;
    height: auto;
    padding: 6vw 0;
}

.gallery-container{
    width: 80%;
    gap: 4vw;
}

.gallery-container h2{
    font-size: 3.6vw;
}

.gallery-box{
    gap: 2vw;
}

.image{
    border-radius: 1vw;
}

.image-1{
    width: 60%;
    height: 36vh;
}

.image-2{
    width: 37%;
    height: 26vh;
}

.image-3{
    width: 35%;
    height: 28vh;
}

.contact-section{
    scroll-margin-top: 7vw;
    height: auto;
    padding: 6vw 0;
}

.contact-container{
    width: 80%;
    gap: 4vw;
}

.contact-container h2{
    font-size: 3.6vw;
}

.contact-form{
    width: 80%;
    gap: 4vw;
    padding: 4vw;
    border-radius: 1vw;
}

.contact-form label{
    gap: 1vw;
    font-size: 2vw;
}

.name-box,
.email-box{
    height: 5vw;
    font-size: 2vw;
    padding: 1vw;
    border-radius: 1vw;
}

.message-box{
    font-size: 2vw;
    padding: 1vw;
    border-radius: 1vw;
}

.submit-btn{
    height: 5vw;
    font-size: 2vw;
    border-radius: 1vw;
}

footer{
    height: 12vw;
}

.footer-container{
    width: 80%;
}

.footer-container p{
    font-size: 2vw;
}
}

@media (max-width: 600px) {
    body{
        position: relative;
    }

    header{
    height: 14vw;
}

.header-container{
    width: 90%;
}

.logo{
    font-size: 5.6vw;
}

nav{
    display: none;
}

/* mobile navbar */

.bars-icon{
    display: block;
    width: 8vw;
}

.mobil-nav{
    width: 40vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 3vw;
    gap: 4vw;
    border-radius: 1vw;
    box-shadow: 0 0 10px lightgray;
    position: fixed;
    top: 0;
    right: 0;
}

.cancel-icon-box{
    width: 100%;
    text-align: right;
}

.cancel-icon{
    width: 8vw;
}

.mob-link-box{
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.mob-link{
    text-decoration: none;
    color: black;
    background-color: rgb(229, 239, 255);
    border-radius: 1vw;
    padding: 1vw;
    font-size: 3vw;
    font-weight: 400;
}

/* /////////////////// */

.hero-section{
    height: calc(100vh - 14vw);
}

.hero-container{
    width: 90%;
    gap: 4vw;
}

.hero-container h1{
    font-size: 10vw;
}

.hero-text{
    font-size: 4vw;
    text-align: center;
}

.button{
    width: 30vw;
    height: 10vw;
    border-radius: 1.5vw;
    font-size: 3.5vw;
    font-weight: 500;
}

.about-section{
    scroll-margin-top: 14vw;
    padding: 6vw 0;
}

.about-container{
    width: 90%;
    gap: 8vw;
}

.about-container h2{
    font-size: 7.2vw;
}

.about-boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}

.about-left-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4vw;
}

.left-box-1{
    width: 100%;
    gap: 2vw;
}

.left-box-1 h3{
    font-size: 4.4vw;
}

.left-box-1 p{
    font-size: 3.6vw;
}

.left-box-2{
    gap: 2vw;
    padding: 3vw;
    border-radius: 1.2vw;
    border-left: 1.5vw solid rgb(218, 0, 116);
}

.left-box-2 h4{
    font-size: 4vw;
}

.left-box-2 a{
    font-size: 3.2vw;
}

.about-right-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.right-box{
    width: 100%;
    height: 28vw;
    gap: 2vw;
    border-radius: 1.2vw;
}

.right-box p{
    height: auto;
    font-size: 8.8vw;
    font-weight: 800;
}

.right-box span{
    height: auto;
    font-size: 4vw;
}

.gallery-section{
    scroll-margin-top: 14vw;
    height: auto;
    padding: 6vw 0;
}

.gallery-container{
    width: 90%;
    gap: 8vw;
}

.gallery-container h2{
    font-size: 7.2vw;
}

.gallery-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 4vw;
}

.image{
    border-radius: 1vw;
}

.image-1{
    width: 100%;
    height: 45vw;
}

.image-2{
    width: 100%;
    height: 45vw;
}

.image-3{
    width: 100%;
    height: 45vw;
}

.contact-section{
    scroll-margin-top: 14vw;
    height: auto;
    padding: 6vw 0;
}

.contact-container{
    width: 90%;
    gap: 8vw;
}

.contact-container h2{
    font-size: 7.2vw;
}

.contact-form{
    width: 100%;
    gap: 8vw;
    padding: 8vw;
    border-radius: 2vw;
}

.contact-form label{
    gap: 2vw;
    font-size: 4vw;
}

.name-box,
.email-box{
    height: 10vw;
    font-size: 4vw;
    padding: 2vw;
    border-radius: 2vw;
}

.message-box{
    font-size: 4vw;
    padding: 2vw;
    border-radius: 2vw;
}

.submit-btn{
    height: 10vw;
    color: white;
    font-size: 4vw;
    border-radius: 2vw;
}

footer{
    height: 24vw;
}

.footer-container{
    width: 90%;
}

.footer-container p{
    font-size: 4vw;
}
}